---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Interview from "../components/Interview.astro";
---

<!-- <h1>{menu}</h1> -->
<Layout title="interviews">
  <Interview />
</Layout>
